doctype html
html
  head
    title Hello World
    meta name="author" content="Bradley Temple"
    link rel="stylesheet" href="application.css" type="text/css"

  body
    div.container
      nav.navbar.navbar-default
        div.navbar-header
          a.navbar-brand href="#" Hello World

        ul.nav.navbar-nav
          li: a href="#" Link 1

      div.row
        div.col-md-12
          h2 Hello World!
    script src="vendor.js" type="text/javascript"
    script src="application.js" type="text/javascript"